node_modules
node_modules
.env
.env.*
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

.credential

cmd-input/.values

out

.network-config
.flatten

yarn-error.log

bun.lockb